
<%= form_with(model: @profile, data: {turbo: false}) do |f| %>
  <fieldset class="mb-2">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </fieldset>
  <fieldset class="mb-2">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </fieldset>
  <fieldset class="mb-2">
  <p>Please select your state:
    <%= f.select :australian_state, [['NSW','NSW'],['VIC','VIC'],['SA','SA'],['WA','WA'],['QLD','QLD'],['NT','NT'],['TAS','TAS'],['ACT','ACT']] %>
  </p>

  </fieldset>
    <fieldset>
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to('Cancel', requests_path(@profile), class: 'btn btn-secondary me-2') %>
  </fieldset>
<% end %>
