<h1>Profile Details</h1>
    <p><b>Name:</b> <%= @profile.name %></p>
    <p><b>Phone:</b> <%= @profile.phone_number %></p>
    <p><b>State:</b> <%= @profile.australian_state %></p>

<div class="btn-toolbar mt-2">
    <%= link_to('Edit', edit_profile_path(@profile), class: 'btn btn-warning me-2') %>
    <%= button_to('Delete', @profile, class: 'btn btn-danger me-2', method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete '#{@profile.name}' ?" } })  %>
    <%= link_to('Back', profiles_path(@profile), class: 'btn btn-secondary me-2') %>
</div>


<br>
<br>
<h2>Feedback</h2>
<br>
<%= form_with(model: [@profile, @profile.feedbacks.build], data: {turbo: false}) do |f| %>
    <%= f.text_area :comment, placeholder: "write feedback here" %><br>
    <%= f.text_field :rating, placeholder: "write rating here" %><br>
    <%= f.submit "Submit", class: 'btn btn-primary me-2' %>
<% end %>

<br>
<hr>
<% @feedbacks.each do |feedback| %>
    <h9>
        <strong><%= feedback.user.profile.name %></strong> wrote <small><%= time_ago_in_words(feedback.created_at) %> ago</small>
    </h9>
    <p>
        <%= feedback.comment %>

    </p>
<% end %>
