<h1>Profile Details</h1>
    <p><b>Name:</b> <%= @profile.name %></p>
    <p><b>Phone:</b> <%= @profile.phone_number %></p>
    <p><b>State:</b> <%= @profile.australian_state %></p>
    <% if @profile.name == current_user.profile.name %>
        <p><b>Vehicles:</b> <%= link_to('Vehicles', vehicles_path(@profile), class: "btn btn-outline-primary") %></p>
    <% else %>
    <% end %>

<div class="btn-toolbar mt-2">
    <% if @profile.name == current_user.profile.name %>
        <%= link_to('Edit', edit_profile_path(@profile), class: 'btn btn-warning me-2') %>
        <%= button_to('Delete', @profile, class: 'btn btn-danger me-2', method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete '#{@profile.name}' ?" } })  %>
        <%= link_to('Back', profiles_path(@profile), class: 'btn btn-secondary me-2') %>
    <% else %>
        <%= link_to('Back', profiles_path(@profile), class: 'btn btn-secondary me-2') %>
    <% end %>

</div>

 


<br>
<br>
<% if @profile.name == current_user.profile.name %>
               
<% else %>
<h2>Feedback</h2>
<br>
    <%= form_with(model: [@profile, @profile.feedbacks.build], data: {turbo: false}) do |f| %>
        <%= f.text_area :comment, placeholder: "write feedback here" %><br>
        <p>Please select Rating:
            <%= f.select :rating, [['1','1'],['2','2'],['3','3'],['4','4'],['5','5']] %>
        </p>
        <%= f.submit "Submit", class: 'btn btn-primary me-2' %>
    <% end %>
<br>
<hr>
<% end %>




<% @feedbacks.order(created_at: :desc).each do |feedback| %>
    <h9>
        <strong><%= link_to feedback.user.profile.name, feedback.user.profile %></strong> wrote <small><%= time_ago_in_words(feedback.created_at) %> ago</small>
    </h9>
    <p>
        <i>Rating: <%= feedback.rating %>/5 stars<br></i>
    </p>
    <p>
        <%= feedback.comment %><br>
            <% if feedback.user.profile.name == current_user.profile.name %>
                <%= button_to 'Delete',  profile_feedback_path(feedback.profile, feedback), class: "btn btn-outline-danger",   method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete feedback?" } } %>
            <% else %>

            <% end %>
        
    </p>
    <hr>
<% end %>

        
