
<center>
<h1>Current Listings</h1>
<%= link_to 'New Request', new_request_path(@request), class: 'btn btn-info me-2' %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Location</th>
      <th scope="col">State</th>
      <th scope="col">Created</th>
      <th scope="col">Updated</th>
    </tr>
  </thead>
  <tbody>
    <% @requests.each do |request| %>
        <tr>
        <th scope="row"><%= request.id %></th>
        <td scope="row"><%= link_to request.location, request %></td>
        <td scope="row"><%= request.australian_state%></td> 
        <td scope="row"><%= request.created_at.strftime("Created on %d/%m/%Y at %l:%M %p") %></td>
        <td scope="row"><%= request.updated_at.strftime("Updated on %d/%m/%Y at %l:%M %p") %></td>
        </tr>
        <% end %>
  </tbody>
</table>
