<center>
    <h1><%= @profile.name %>'s Vehicles</h1>

    <table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Profile Name</th>
        <th scope="col">License Plate</th>
        <th scope="col">Vehicle Type</th>
        <th scope="col">Make</th>
        <th scope="col">Year</th>
        <th scope="col">Color</th>
        <th scope="col">Comments</th>
    
        </tr>
    </thead>
    <tbody>
        <% @vehicles.each do |vehicle| %>
            <% if vehicle.profile_id == @profile.id %>
                <tr>
                <td scope="row"><%= vehicle.id %></td>
                <td scope="row"><%= vehicle.profile_id %></td>
                <td scope="row"><%= link_to vehicle.license_plate, vehicle %></td>
                <td scope="row"><%= vehicle.vehicle_type  %></td> 
                <td scope="row"><%= vehicle.make %></td>
                <td scope="row"><%= vehicle.year %></td>
                <td scope="row"><%= vehicle.color %></td>
                <td scope="row"><%= vehicle.comments %></td>
                </tr>
            <% else %>

            <% end %>

        <% end %>
    </tbody>
    </table>
</center>